<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/xianqiu/Projects/resume</string>
	<key>HistoryMonthPopUpType</key>
	<integer>0</integer>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>CA830746-E0D3-4740-B03E-CB3454AEF165</key>
		<dict>
			<key>BinderUUID</key>
			<string>CA830746-E0D3-4740-B03E-CB3454AEF165</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>904</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {228, 495}}</string>
				<string>{{229, 0}, {449, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 272}, {475, 168}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>356 470 904 662 0 0 2560 1415 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 1272}}</string>
		<string>{{266, 0}, {1645, 1272}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>01180B5B-9EF7-4B6E-9A11-2BB8937B60C7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>081D2AA2-D09B-4CB2-B915-226C9649945E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0AEFAF4A-C4AF-416A-A6B1-63169DF6B7FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0E545599-8750-4B8C-B449-41B23A5D41D9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>14223380-1004-47D8-B672-93367B180FC9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>183CB434-60DD-4F5A-99AB-9D1B0A4850CB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1A4E2EC1-B7AD-40B8-B052-15962C5A0686</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1CF297A1-D326-4273-9B61-C57AF5E8A220</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1FFA39C4-99C0-4325-9D29-35B882F3A3C3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>22D263AA-41D1-4F0E-8146-EDD4C43223E6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>24A6E77C-0C1F-4624-AE60-0CE5DD7AB687</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>24B4403D-667A-4780-87B4-407C45F3794E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2548D5B6-AD90-40C5-87C2-0FCBD3740708</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>27F9C04B-C244-4FF1-AFB7-E67516366DC8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2884B095-B52B-4856-87C8-6F9DD96C1B4E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2AAE1418-0099-47B3-8829-C91CB45C5E37</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2AC088EC-49E8-480D-AC02-75D47A92C7B5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2AD0FB50-966E-4233-BA22-5A18BADFE0B5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2B4C4EBD-4866-44B0-B6FC-2C231AA68420</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2BE94EF2-DED5-4F46-8151-4039051300E8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2C2DFD62-E4E0-4133-8517-E9095FDCA26B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D36E10E-7DFD-486B-9322-69B679126289</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2EB1FC7E-648A-4363-B086-08421111ABAE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3074EC48-77AC-4754-A169-F28BF119D403</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>31813DE6-570A-4B96-8BF6-3F602F14BE89</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3B7BDABC-E4A1-4E33-B629-0B27E80260D3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3CC9D748-21D4-4505-8B72-B8D9981AD518</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3CE66A6D-B332-4A42-8747-FFD73A8A5F37</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F724486-8200-4DB1-9A2C-50D724C397E6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>41B28634-F863-45BF-A739-5F0EEAE69DE9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4902F7AC-C350-4200-A163-5B6C437DD22C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D1FCE88-719A-4057-BC44-CAE6494D026E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4E63F898-6CD8-4432-8626-3A7CBB9313F3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4EAFB939-D70E-4796-ABF7-6782A9CA747D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4F519A92-C89B-47D8-9B6D-5297A62C56CF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>52CFACCC-3B61-4603-829A-57ACF30F1B8F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5368042A-BCEB-4BEC-9D43-CF09E39862C9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>53EC6992-391A-4B0F-B5C5-66E4E007C965</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>55FA9A75-A463-4F92-B8D8-CA7603940722</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5602A1B4-C379-4E85-9C15-0E36C2695FB6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>571EB0AD-F4F8-47EF-B58F-B18C2F64146C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>57DC135F-D7FA-433E-9E5D-C34219C1A136</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>595389EB-D85F-4FCD-8445-D478530C6872</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>596DD5ED-A41D-4FDF-8A8F-E08F3366D7E8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5CBC6E38-C6CF-443F-BF43-C2E2BE00B460</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5F8AD698-CB95-4A12-8C3F-9F2DE33E2CF3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66504002-6856-4FFE-AD7C-994EF03CF2B0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6A62BCEC-414E-4ACA-A3CB-F1D51E45FCD3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6D43C567-37FE-413C-83CC-F8B041C9425D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>75AB0CB2-5E29-4BD5-87E0-54E7AD96F605</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7A9237E1-3567-402F-9320-CE1470B972FE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7C5296ED-C2FE-4A28-B04A-85500E4B8877</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7CD1741B-C340-4ED0-89F2-93CF22B1DEF2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>836E2771-8F35-4443-A6E3-CA3778BF7DD1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>84253BC8-5133-4E05-BC2D-5E1FB470C4A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>88DCE2BC-198D-4802-BF5B-4F166F330D2B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8B105C38-25AA-4F2A-B066-CFB5F3F0FF42</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8DB9FCB5-822C-4A0E-B794-325054970079</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8EDB57C2-0234-4645-AEA4-7F0D44F69E65</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>939EB414-343B-46C0-B7EE-5EEEE3202267</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>93AE7F75-D3BB-43A3-B516-7D6EB4E7EB7A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>93D9794E-DFB9-49DD-86F9-769A99C6078A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>95BAEBB6-7FE0-4D22-A55A-65D6F92ED874</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9AA3D1A7-43DE-4BA2-BDEB-38FE9DBC86F8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9B1656AC-1796-42D5-80C7-8FEB33022E3B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9B1B5C9C-F7C1-4557-8D12-D1CBDFF97E24</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9C760729-A2E3-4504-8E32-03C4C68DE71C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9DAD7692-2710-421D-B75C-39CA3C20C204</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9E2B67C8-EDD8-4C2B-B086-2EE3A9483E3A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9EA3B4D2-D2A0-460C-A831-B68AE5DA922E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A13F3101-C6E2-42B0-8F35-FEDBDF546B92</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A2263B6F-3ECF-4446-A190-4D3ECADACF44</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A5D7B719-E2B8-440E-A8F7-640D74F9AD6C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A8B74B3D-6180-4172-9D21-CBAF5C45F4F9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B3FE8F5C-9C7A-49EE-B087-A999CD034CE6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B846E85B-893C-46AD-A307-DE8B1F77FC56</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BD337C12-61F4-484B-97FD-3D181A142123</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C0028CAF-3C36-4A6A-A697-AAA9AA87656F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C5C32083-6447-4160-8CEC-35B72E4D40F8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C639EC1B-9DB4-40E5-A833-5BCC98C89CCA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C6D52A80-BAC2-459B-8010-24F1CF242BB1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CA830746-E0D3-4740-B03E-CB3454AEF165</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CBB6523F-6B40-4F96-8515-FB2B7B3C1F4C</key>
		<dict>
			<key>DocID</key>
			<string>3074EC48-77AC-4754-A169-F28BF119D403</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>CC8EF7F4-4E77-4979-B5ED-3BC7241533C9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D3CD46C0-9338-4439-8597-C5D02BE94AD8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D5E05B44-559F-4247-B013-E3F47FB51C2E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D729D419-FBEC-467C-9DFE-DFFA3B7F7550</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DB587614-5BC0-4CEC-B571-8F26F3DF59F3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DB7BA198-9DF9-4B01-B902-240388527EC2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DBD5E8B8-B715-48D4-A0C4-1BC34AC0390B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC52C866-DE72-4E3B-A4C5-1FF9BA49DD72</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E0962C4F-CF6F-4BF7-9539-B871A7829134</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E300FB67-65E1-4397-8C36-50DDC812EC52</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E386DDBA-B26A-46A6-A242-BEAC51596989</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E4E63C16-3A27-49BD-9BCE-20ECE9EEA14D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E56F6EA6-38E3-4584-AE1F-C7A2639A51E1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E80FD6D9-6DCE-4E10-994F-052E3B76E095</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E84755B2-EA9A-4CD3-AFB1-4A6E456B7540</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E9B3CF13-CFA8-4917-B98D-C943B4C9A2D7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EAC9D44B-ED49-4CBF-862F-B48DC2AE3F33</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F1E7EC75-DA65-496A-9604-A699DCEEC93B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F5258FB0-2776-462C-9636-72B4AE3C3569</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F5F22C36-0EF4-4BFF-B82B-11AEC82301EC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F8473787-3777-4B4B-866C-65C10EF78371</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F900A621-9AA0-4583-AEC0-FE9274C9D6D0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F90A9DAC-3862-4854-9A4E-C383BACF1D84</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FA7D078C-7351-4AC7-A74B-1FA32CFD9747</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FB01E3B5-305F-4FF3-9C2D-6676340975E8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FD147D29-12D1-4C62-BAB9-D94BBA5C444A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FD95C562-9EEF-44B0-B86C-2548394144F0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FFDE71F0-3468-4C76-8B6D-ADCEA57CCEE1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{629, 0}, {628, 1244}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {512, 1344}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>248</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 290}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>608 115 1911 1300 0 0 2560 1415 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{-97.5, 0}, {815, 632}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>2</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
