<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/xianqiu/Documents</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 1354}}</string>
		<string>{{266, 0}, {620, 1354}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>081D2AA2-D09B-4CB2-B915-226C9649945E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>24B4403D-667A-4780-87B4-407C45F3794E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3B7BDABC-E4A1-4E33-B629-0B27E80260D3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F724486-8200-4DB1-9A2C-50D724C397E6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>41B28634-F863-45BF-A739-5F0EEAE69DE9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5602A1B4-C379-4E85-9C15-0E36C2695FB6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5CBC6E38-C6CF-443F-BF43-C2E2BE00B460</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>93D9794E-DFB9-49DD-86F9-769A99C6078A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A8B74B3D-6180-4172-9D21-CBAF5C45F4F9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C6D52A80-BAC2-459B-8010-24F1CF242BB1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DB7BA198-9DF9-4B01-B902-240388527EC2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DBD5E8B8-B715-48D4-A0C4-1BC34AC0390B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E80FD6D9-6DCE-4E10-994F-052E3B76E095</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E84755B2-EA9A-4CD3-AFB1-4A6E456B7540</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F8473787-3777-4B4B-866C-65C10EF78371</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F900A621-9AA0-4583-AEC0-FE9274C9D6D0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F90A9DAC-3862-4854-9A4E-C383BACF1D84</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FA7D078C-7351-4AC7-A74B-1FA32CFD9747</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FD95C562-9EEF-44B0-B86C-2548394144F0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{629, 0}, {628, 1244}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {512, 1264}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>248</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 290}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>-2331 33 886 1382 -2560 0 2560 1415 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{-311, 0}, {1242, 1184}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
